body {
    font-family: helvetica arial, sans-serif;
    margin: 2em;
    background: #42adf5;
    
     background-image: url("https://cdn.glitch.com/227f8679-86f5-459c-a32f-2409a6941188%2FClouds.jpg?v=1596204967917");
   background-color: #cccccc;
  }
  